body
{
    margin: 0px;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 30px;

}
.info
{
    padding-left: 5%;
    padding-right: 5%;
    color: aliceblue;
    background-color: #5463FF;
    padding-bottom: 50px;
}
hr
{
    border-style:solid;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 90%;
    border-width: 2px;

}
.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #5463FF;
    font-size: 20px;
    background: #ffffff;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    display: inline;
    
  }