body
{
    font-family: 'Smooch Sans', sans-serif;
    margin: 0px;
    font-size: 150%;
}
.Projects
{   
    text-align: center;
    color: aliceblue;
    background-color: #5463FF;
    padding-right: 35px;
    padding-bottom: 100px;
}
hr
{
    border-style:solid;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 90%;
    border-width: 2px;

}
.DevlogMainPics
{
    height: 50%;
}
.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #5463FF;
    background: #ffffff;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    display: inline;
    
  }
  
  .btn:hover {
    background: #ffffff;
    text-decoration: none;
  }
.button
{
    text-decoration: dashed ;
    display: inline-block;
    margin: 100px;
    color: #5463FF;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}