body
{
    font-family: 'Smooch Sans', sans-serif;
    margin: 0px;
    font-size: 200%;
}
.Projects
{   
    text-align: center;
    color: aliceblue;
    background-color: #5463FF;
    padding-right: 35px;
    padding-bottom: 100px;
}
hr
{
    border-style: dotted;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 70%;
    border-width: 4px;

}
.DevlogMainPics
{
    height: 50%;
    width: 50%;

}
.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #5463FF;
    font-size: 20px;
    background: #ffffff;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    display: inline;
    
  }
  
  .btn:hover {
    background: #ffffff;
    text-decoration: none;
  }