.Divclass
{
    background-color: #222831;

}
body{
    margin: 0px;
    text-align: center;
    font-family: 'Supermercado One', cursive;
    background-color: #393E46;
}

.Name
{
    color: #00ADB5;
    padding-top: 50px;
    font-size: 250%;
    margin-top: 0px;
    margin-left: auto;
    margin-bottom: 0px;
    margin-right: auto;
}
.underName
{
    color: #00ADB5;
    font-size: 100%;
    padding-top: 50px;
    margin-top: 0px;
    margin-left: auto;
    margin-bottom: 0px;
    margin-right: auto;
}
.cloud-botton
{
    position: absolute;
    left: 25%;
    
}
.cloud-top
{
    position: absolute;
    top: 10%;
    right: 30%;
    
}

h3{
    font-family: consolas;
    color: #EEEEEE;
}
h2
{
    font-weight: normal;
    color: #EEEEEE;
}
h1
{
    line-height: 4;
    color: #00ADB5;
}
p
{
    line-height: 2;
    color: #00ADB5;
}
.skill-row
{
    margin: 100px auto 100px auto;
    width: 50%;
    text-align: left;
}
.images1
{
    height: 100px;
    float: left;
    padding-right: 100px;
}
.images2
{
    height: 100px;
    float: right;
    padding-left: 100px;
}
.profileimg
{
    margin-top: 40px;
}
.btn {
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #00ADB5;
    font-size: 20px;
    background: #222831;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-right: auto;
  }
  
  .btn:hover {
    background: #222831;
    text-decoration: none;
  }
  .footer-link
  {
      margin-top: 20px;
  }
  .bottom-container
  {
      padding-top: 50px;
      background-color: #222831;
      margin-top: 50px;
      padding-bottom: 50px;
  }
  a{
      color: #00ADB5;
  }
  hr
  {
      color: #00ADB5;
      border-top-style: dotted;
      border-bottom-style: none;
      border-right-style: none;
      border-left-style: none;
      border-width: 10px;
      margin-left: 200px;
      margin-right: 200px;
}
  .paddingpara
  {
      padding-bottom: 50px;
}
ul {
  background: #2C394B;
  padding: 20px;
  margin-bottom: 0px;
}
li{
    text-align: start;
    color: #00ADB5;
    list-style-type: disc;
    list-style-position: inside;
}
.btn-na
{
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 20px;
    font-family: Arial;
    color: #ff2626;
    font-size: 10px;
    background: #222831;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-right: auto;
}
.btn-na:hover
{
    color: #222831;
    background: #ff2626;
}