body
{
    margin: 0px;
}

.UpperDiv
{
    background-color: #5463FF;
    font-family: 'Agency FB Light', Courier, monospace;
    font-size: 30px;
    text-align: center;
    color: #ECECEC;
    padding-top: 10px;
    padding-bottom: 10px;
}
.centerimg
{
    display: block;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}
hr
{
    border-style: dotted;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 70%;
    border-width: 4px;

}