body
{
    margin: 0px;
    background-color: #5463FF;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 200%;

}
hr
{
    border-style: double;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    margin: 7%;
    border-width: 4px;
}
.UpperDiv
{
    background-color: #5463FF;
    font-size: 30px;
    text-align: center;
    color: #ECECEC;
    padding-top: 10px;
    padding-bottom: 10px;
}
.centerimg
{
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.middlediv
{
    padding-top: 20px;
    background-color: #5463FF; 
    color: #ECECEC;
    padding-bottom: 100px;


}
.middletext
{
    text-align: center;
}
ul
{
    text-align: center;
    display: inline;
}

.container-fluid
{
    padding-top: 15%;
}
.navbar {
    font-size: 100%;
    width: 90%;
    display: block;
    background-color: #ffffff;
    position: fixed;
    padding: 20px 20px;
        margin-left: 2%;
    margin-right: 2%;
    border-radius: 20px;
    margin-top: 5px;
}