body
{
    margin: 0px;
    font-family: 'Smooch Sans', sans-serif;

}
hr
{
    border-style: dashed;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 70%;
    border-width: 8px;
}
.UpperDiv
{
    background-color: #5463FF;
    font-size: 30px;
    text-align: center;
    color: #ECECEC;
    padding-top: 10px;
    padding-bottom: 10px;
}
.centerimg
{
    display: block;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.middlediv
{
    padding-top: 20px;
    background-color: #5463FF; 
    color: #ECECEC;
    padding-bottom: 100px;


}
.middletext
{
    text-align: center;
}
ul
{
    text-align: center;
    display: inline;

}
.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #5463FF;
    font-size: 20px;
    background: #ffffff;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    display: inline;
    
  }
  
  .btn:hover {
    background: #ffffff;
    text-decoration: none;
  }
  .navbar
  {

    display: block;
    background-color: #ffffff;
    position: fixed;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    margin-top: 5px;
  }